<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section logo-section">
                <img src="./images/logo.png" alt="Mar Adentro" class="footer-logo">
                <p class="footer-description">En Mar Adentro te esperamos con ceviches, chicharrones y más, para que compartas y disfrutes en familia, siempre con el mejor ambiente.</p>
            </div>
            <div class="footer-section social-section">
                <h4>Redes Sociales</h4>
                <div class="social-icons">
                    <a href="https://www.facebook.com/maradentrohuachipa" target="_blank" aria-label="Facebook" class="facebook-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/maradentrohuachipa/" target="_blank" aria-label="Instagram" class="instagram-icon"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@maradentrohuachipa" target="_blank" aria-label="TikTok" class="tiktok-icon"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-dark-text">© 2025 Mar Adentro. Todos los derechos reservados.</p>
            <p class="footer-created-by">Sitio web creado por <a href="https://alonsoleandro.me" target="_blank" class="creator-name">Alonso Leandro</a></p>
        </div>
    </div>
</footer>